<h1>Editing friend</h1>
<br/>
<%= render "form", friend: @friend %>

<br/>

<div>
  <%= link_to "Show", @friend, class:'btn btn-secondary' %> 
   
  <td><%= link_to "Destroy", @friend, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %></td>

  <%= link_to "Back", friends_path, class:'btn btn-dark' %>
</div>
